/* ------------------------------------------------------------ *\
	Accordion
\* ------------------------------------------------------------ */

.accordion .accordion__section {
	background: $grey; 
	margin-bottom: 0.45rem; 
	
	&:last-child {
		margin-bottom: 0; 
	}
}

.accordion button {
	display: block; 
	width: 100%; 
	text-align: left; 
	border: 0; 
	text-transform: uppercase; 
	font-weight: 700; 
	font-size: 0.9rem; 
	letter-spacing: 0.1em; 
	color: $base; 
	padding: 0.75rem 2.3rem; 
	position: relative; 
	border-bottom: 0.05rem solid #fff; 
	transition: .3s; 
	
	&:hover {
		text-decoration: none; 
		border-bottom: 0.05rem solid #fff; 		
		cursor: pointer; 
		color: $blue-l; 
	}
	
	&:focus {
		outline: 0; 
		border-bottom: 0.05rem solid #fff; 
		text-decoration: none; 
	}
	
	&:not(.collapsed):after {
		content: '\2013'; 
		right: 2.3rem; 
	}
	
	&:after {
		position: absolute; 
		top: 50%; 
		right: 2.3rem; 
		font-weight: 400; 
		transform: translateY(-50%); 
		content: '+'; 
		font-size: 1.4rem; 
	}
}

.accordion .collapse {
	p {
		line-height: 1.35; 
	}
}

.accordion table {
	
	margin-top: 1.38rem; 
	margin-bottom: 1.1rem; 
	
	td {
		border: 0; 
		padding: 0.85rem 4.15rem; 
		
		&:first-child {
			padding-left: 0;  
		}
	}
	
	td + td {
		border-left: 0.05rem solid rgba($base, .3); 
	}
	
	tr + tr td {
		border-top: 0.05rem solid rgba($base, .3); 
	}
	
	tr:first-child td {
		padding: 0.7rem 4.15rem; 
	}
	
	tr:first-child td:first-child {
		padding-left: 0; 
	}
}

.accordion {
	margin-bottom: 1.6rem; 
	
	& &__body {
		padding: 1.55rem 1.5rem 1.55rem 5.7rem; 
	}
}

// Accordion--secondary

.accordion--secondary .card-group {
	margin-bottom: 0; 
	margin-top: 3.85rem; 
	padding-bottom: 5.5rem; 
	
	.link-more {
		text-decoration: underline; 
	}
}

.accordion--secondary .card .card__image {
	min-height: 11.9rem; 
}

.accordion--secondary .card .card-body {
	padding: 1.8em 2.5rem; 
	
	p {
		line-height: 1.3; 
		margin-bottom: 1.2rem; 
	}
}

.accordion--secondary .card .card-title {
	margin-bottom: 0.4rem; 
}

.accordion--secondary .container > p {
	max-width: 40rem; 
	margin: 0 auto; 
	line-height: 1.3; 
}

.accordion--secondary .accordion__section {
	position: relative; 
}

.accordion--secondary button {
	display: block;
	text-align: center; 
	width: 100%; 
	border: 0; 
	color: $base; 
	font-weight: 900; 
	padding: 3rem 0 4rem; 
	transition: .3s; 
	
	&:after {
		content: ''; 
		position: absolute;
		bottom: 2.4rem; 
		left: 50%; 
		transform: translateX(-50%); 
		background-image: url(../images/temp/ico-down.png);
		width: 0.74rem;
		height: 0.45rem;
		z-index: 10; 
		background-size: cover; 
		background-position: center;
	}
	
	&:focus {
		outline: 0; 
	}
	
	&:hover {
		text-decoration: none; 
		cursor: pointer; 
		color: $blue-l; 
	}
}

.accordion--secondary button:not(.collapsed) {
	
	padding: 3.2rem 0 1.4rem; 
	&:after {
		transform: translateX(-50%) rotate(180deg); 
	}
}

.accordion--secondary .accordion__section:nth-child(even) {
	background: #fff; 
}

@include media("<tablet") {
	.accordion .accordion__body {
		padding: 1.5rem 2.3rem; 
	}
}

@include media("<mobile") {
	.accordion--secondary .card { 
		margin-bottom: 0; 
	}
	
	.accordion--secondary .accordion__section { 
		padding: 0 1.67rem; 
	}
	
	.accordion--secondary .card-group {
		padding-bottom: 3rem; 
		margin-top: 3rem; 
	}
	
	.accordion button {
		padding: 0.75rem; 
	}
	
	.accordion button:not(.collapsed):after {
		right: 0.75rem; 
	}
	
	.accordion .accordion__body {
		padding: 0.75rem; 
	}
	
	.accordion .table__wrapper {
		margin-top: 0.5rem; 
		margin-bottom: 0.5rem; 
	}
	
	.accordion table tr:first-child td {
		padding: 0.7rem; 
	}
	
	.accordion table td {
		padding: 0.85rem 0.7rem; 
	}
	
	.accordion:last-child {
		margin-bottom: 0; 
	}
	
	.accordion--secondary .card .card-body {
		padding: 1.8rem 0; 
	}
}