/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

@include media("<tablet") {
	.container--no-padding .card-group { 
		margin-left: 0.25rem; 
		margin-right: 0.25rem;
		width: calc(100% - 0.5rem); 
	}
	
	.container--no-padding .table--secondary {		
		width: calc(100% - 1.5rem); 
		margin-left: 0.75rem; 
		margin-right: 0.75rem; 
	}
	
	.container--no-padding > .accordion {
		margin-left: 0.75rem; 
		margin-right: 0.75rem; 
	}
	
	.container--no-padding > .row {
		margin-left: 0; 
		margin-right: 0; 
	}
}

@include media("<mobile") {
	.container--no-padding .card-group {
		margin: 0; 
		width: 100%; 
	}
}