/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro {
    height: 44.9vw;
    display: table;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    
    .navbar-brand {
    	margin: 0 auto 8rem; 
    }
 	
 	& &__video {
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    pointer-events: none;
	    z-index: 1;
	    overflow: hidden; 
	    height: 100%; 
		
		& iframe {
		    max-width: none;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    -ms-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    width: 100%;
		    height: 56.3vw;
		}
	}
	
	& &__content {
		display: table-cell; 
		vertical-align: middle; 
		position: relative; 
		z-index: 1; 
		text-align: center; 
		
		h2 { 
			color: #fff; 
		}
	}
	
	&:after {
		content: ''; 
		position: absolute; 
		left: 50%;
		bottom: -3.6rem; 
		transform: translateX(-50%) translateZ(0); 
		width: 0.12rem;
		height: 9.5rem;
		background: $blue-l; 
		z-index: 1; 
	}
}

@include media("<small-desktop") {	
	.intro .navbar-brand {
		margin: 0 auto 1rem;
		
		img {
			width: 19.88rem!important;
		    height: 11.28rem!important;
		} 
	}
}

@include media("<tablet-standart") {
	.intro .intro__video {
		display: none; 
	}
}

@include media("<mobile") {
	.intro {
		height: 100vh; 
		padding-bottom: 6rem; 
		
		&:after {
			display: none; 
		}
	}
	
	.intro .navbar-brand {
		margin: 0 auto; 
	}
	
	.intro .navbar-brand img {
		width: 16.6rem!important;
		max-width: 16.6rem!important;
	    height: auto!important;
	}
}

@include media("<mobile", "landscape") {	
	.intro {
		padding-bottom: 0; 
	}
	.intro .navbar-brand {
		margin: 0 auto 10vh; 
	}
}