/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */

.link-more {
	color: $yellow; 
	font-weight: 700; 
	text-decoration: none; 
	display: block; 
	transition: .3s; 
	
	&:hover { 
		color: $yellow; 
		text-decoration: underline; 
	}
}
