/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav-item.active .nav-link {
	position: relative; 
	
	&:before {
		content: '';
		position: absolute; 
		bottom: 0; 
		left: 0; 
		width: 100%; 
		height: 0.15rem; 
		background: rgba($yellow, .6); 
	}
}

.nav-item {
	padding: 0 0.84rem; 
	
	&:last-child {
		margin-left: 0.15rem; 
	}
}