/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html { 
	font-size: 1.04vw; 
}

body { 
	color: $base; 
}

h2 { 
	font-weight: 900;
	line-height: 1.06;
	letter-spacing: -0.02em; 
	
	a { 
		position: relative; 
		transition: .3s; 
		
		&:after {
			content: '+'; 
			display: block; 
			color: $yellow; 
			transition: .3s; 
			pointer-events: none;
		}
		
		&:hover {
			text-decoration: none; 
			color: $yellow; 
			
			&:after {
				color: #fff; 
			}
		}
	}
}

h3 {
	font-weight: 400; 
	line-height: 1.13; 
	letter-spacing: -0.02em; 
	font-family: $f-roboto; 
}

h4 {
	font-weight: 900; 
	letter-spacing: 0.1em; 
	text-transform: uppercase; 
}

h5 {
	font-weight: 700; 
	letter-spacing: -0.02em; 
}


img { 
	max-width: 100%; 
}

.container.container--no-padding {
	padding: 0; 
}

.container {
	padding: 0 0.75rem; 
}

.visible-sm-inline-block,
.visible-xs-inline-block {
	display: none; 
}

p:not([class]) a {
	text-decoration: underline; 
	color: $yellow; 
}

@include media("<small-desktop") {
	html {
		font-size: 1.55vw; 
	}
}

@include media("<tablet") {
	body {
		font-size: 1.2rem; 
	}
	
	.hidden-sm {
		display: none !important; 
	}
	
	.visible-sm-inline-block {
		display: inline-block; 
	}
}

@include media("<mobile") {
	html {
		font-size: 2.7vw; 
	}
	
	body {
		font-size: 1rem; 
		line-height: 1.36; 
	}
	
	h2 {
		font-size: 2rem; 
		line-height: 1.07; 
	}
	
	h3 {
		font-size: 2rem; 
		line-height: 0.9; 
	}
	
	h5 {
		font-size: 1rem; 
	}
	
	.hidden-xs {
		display: none!important; 
	}
}

@include media("<mobile-portrait") {
	
	html {
		font-size: 4vw; 
	}
}

// ==
.fw-thin {
	font-weight: 100;
}

.fw-light {
	font-weight: 300;
}

.fw-normal {
	font-weight: 400;
}

.fw-medium {
	font-weight: 600;
}