/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	border-radius: 0; 
	color: #fff; 
	font-weight: 700; 
	padding: 0.88rem 2.2rem; 
	transition: .3s; 

	&--block {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	
	&--yellow {
		background: $yellow;
		color: $white !important;

		&:hover {
			background: $base;
			color: $white !important;
		}
	}
	
	&--grey {
		background: $base;
		color: $white !important;
		
		&:hover {
			background: $yellow; 
			color: $white !important;
		}
	}
	
	&:focus {
		box-shadow: none; 
	}
}


.btn-link:focus, .btn-link.focus {
	text-decoration: none; 
}