/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

.ico-profile,
.ico-profile-white {
	width: 1.05rem; 
	height: 1.3rem; 
}

.ico-circle {
	background-image: url(../images/wheel.svg);
	background-position: 0% 0%;
	background-size: 100%;//~290.7894736842105% 213.15789473684214%;
	width: 76px;
	height: 76px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
}

.ico-circle {
	width: 3.8rem; 
	height: 3.8rem;
}

.ico-boat { 
	width: 2.2rem; 
	height: 2.85rem; 
}

.ico-call {
	width: 2.6rem; 
	height: 2.7rem; 
}

.ico-man {
	width: 2.7rem; 
	height: 2.55rem; 
}

.ico-pin { 
	width: 3.05rem; 
	height: 2.75rem; 
}

.ico-arrow-right {
	width: 0.9rem; 
	height: 1.35rem; 
}

.ico-letter {
	width: 3.3rem; 
	height: 2.4rem; 
}

.ico-clock {
	width: 3rem; 
	height: 3rem; 
}

.ico-book {
	width: 3.3rem; 
	height: 2.8rem; 
}

.ico-calendar {
	width: 2.8rem; 
	height: 2.8rem; 
}

@include media("<mobile") {
	.ico-circle {
		width: 3rem; 
		height: 3rem; 
	}
	
	.ico-letter {
		width: 1.74rem; 
		height: 1.26rem; 
	}

	.ico-clock {
		width: 1.59rem; 
		height: 1.59rem; 
	}

	.ico-book {
		width: 1.74rem; 
		height: 1.48rem; 
	}

	.ico-calendar {
		width: 1.48rem; 
		height: 1.48rem; 
	}
}

@include media("<mobile-portrait") {	
	.ico-letter {
		width: 2.18rem; 
		height: 1.58rem; 
	}

	.ico-clock {
		width: 1.99rem; 
		height: 1.99rem; 
	}

	.ico-book {
		width: 2.18rem; 
		height: 1.85rem; 
	}

	.ico-calendar {
		width: 1.85rem; 
		height: 1.85rem; 
	}
}