/* ------------------------------------------------------------ *\
	Map
\* ------------------------------------------------------------ */

.map { 
	min-height: 34vw; 
	margin-top: 2.1rem; 
}

@include media("<mobile") {
	.map {
		margin-top: 0; 
		min-height: 100vw; 
	}
}

@include media("<mobile", "landscape") {
	.map {
		min-height: 75vh; 
	}
}