/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

%nav-active {
	@include media('>tablet') {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.15rem;
	background: rgba($yellow, .6);
	}
}

.nav-item{
	padding: 0 0.84rem;

	&:last-child {
		margin-left: 0.15rem;
	}
	&.active{
		.nav-link {
			position: relative;
			@include media('<small-desktop') {
				color: $yellow;
			}
				&:before {
					@extend %nav-active;
				}
			}
		}

	.nav-link{
		position: relative;

		&.current-menu-ancestor{
			@include media('<small-desktop') {
				color: $yellow;
			}
			&:before{
				@extend %nav-active;
			}
		}

		&.menu-item-has-children{
			cursor: default;
		}
	}
}



.nav-collapse {
	@include media('>tablet') {
		flex-grow: 1;
		align-items: center;
		display: flex !important;
	flex-basis: auto;
	}

	@include media('<tablet') {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition: height 0.4s, opacity 0.4s;

		&.show {
			opacity: 1;
			height: 100vh;
		}
	}

	.navbar-nav{
		@include media('<tablet') {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
		}
	}
}

.navbar{
	&.menu-shown {
		.navbar-brand{
			position: relative;
			z-index: 99;
			opacity: 1;
			visibility: visible;
		}
	}
}