
.ship-description{
  .cols{
    justify-content: space-between;

    @include media("<mobile") {
      display: flex;
      flex-direction: column;
    }
  }

  .col{
    @include media("<mobile") {
      padding: 5%;

      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
    }

    p{
      margin-bottom: 0;
    }
  }


  .col-a,.col-b, .col-c{
 @include media(">=mobile") {
   display: flex;
   max-width: 33.333%;
   flex: 0 0 33.333%;
      min-height: 20rem;
   justify-content: center;
   align-items: center;
    }

  }

  .col-a{
    @include media("<mobile") {
      padding: 0;
      order:2;
    }

    .popup-trigger{
      position: static;
      background: $blue;
      @include media("<mobile") {
        padding: 5%;
      }

      h2{
        @include media("<mobile") {
          margin:auto;
        }
      }
    }
  }

  .col-b{
/*    @include media(">mobile") {
      max-width: 40%;
      flex: 0 0 40%;
    }*/

    @include media("<mobile") {
      order: 1;
    }

    .content__inner{
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      padding-left: 2rem;
      text-align: center;
    }
  }

.col-c {

  @include media("<mobile") {
    order: 3;
  }
  .list-links {
    flex-direction: column;
    li {
      width: 100%;
    }
  }


  @include media("<mobile") {
    .section__content {
      padding: 0;
    }
  }
}
}