/* ------------------------------------------------------------ *\
	Sprite
\* ------------------------------------------------------------ */
.ico-arrow-right{ background-image: url(../images/sprite.png); background-position: 95.07389162561576% 68.14814814814815%; background-size: 1227.7777777777778% 600%; width: 18px; height: 27px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-boat{ background-image: url(../images/sprite.png); background-position: 81.92090395480226% 0%; background-size: 502.27272727272725% 284.2105263157895%; width: 44px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-book{ background-image: url(../images/sprite.png); background-position: 77.12765957446808% 45.52238805970149%; background-size: 669.6969696969697% 578.5714285714286%; width: 33px; height: 28px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-calendar{ background-image: url(../images/sprite.png); background-position: 100% 0%; background-size: 789.2857142857143% 578.5714285714286%; width: 28px; height: 28px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-call{ background-image: url(../images/sprite.png); background-position: 0% 74.07407407407408%; background-size: 425% 300%; width: 52px; height: 54px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-circle{ background-image: url(../images/sprite.png); background-position: 0% 0%; background-size: 290.7894736842105% 213.15789473684214%; width: 76px; height: 76px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-clock{ background-image: url(../images/sprite.png); background-position: 75.91623036649214% 70.45454545454545%; background-size: 736.6666666666666% 540%; width: 30px; height: 30px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-letter{ background-image: url(../images/sprite.png); background-position: 0% 100%; background-size: 669.6969696969697% 675%; width: 33px; height: 24px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-man{ background-image: url(../images/sprite.png); background-position: 33.532934131736525% 72.07207207207207%; background-size: 409.25925925925924% 317.6470588235294%; width: 54px; height: 51px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-pin{ background-image: url(../images/sprite.png); background-position: 50% 0%; background-size: 362.2950819672131% 294.5454545454545%; width: 61px; height: 55px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-profile-white{ background-image: url(../images/sprite.png); background-position: 96.5% 45.588235294117645%; background-size: 1052.3809523809523% 623.0769230769231%; width: 21px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-profile{ background-image: url(../images/sprite.png); background-position: 96.5% 23.52941176470588%; background-size: 1052.3809523809523% 623.0769230769231%; width: 21px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0px; }
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi){
    .ico-arrow-right{ background-image: url(../images/sprite.@2x.png); background-position: 95.0859950859951% 68.14814814814815%; background-size: 1230.5555555555554% 600%; width: 18px; height: 27px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-boat{ background-image: url(../images/sprite.@2x.png); background-position: 81.97183098591549% 0%; background-size: 503.40909090909093% 284.2105263157895%; width: 44px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-book{ background-image: url(../images/sprite.@2x.png); background-position: 77.18832891246684% 45.52238805970149%; background-size: 671.2121212121212% 578.5714285714286%; width: 33px; height: 28px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-calendar{ background-image: url(../images/sprite.@2x.png); background-position: 100% 0%; background-size: 791.0714285714286% 578.5714285714286%; width: 28px; height: 28px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-call{ background-image: url(../images/sprite.@2x.png); background-position: 0% 74.07407407407408%; background-size: 425.9615384615385% 300%; width: 52px; height: 54px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-circle{ background-image: url(../images/sprite.@2x.png); background-position: 0% 0%; background-size: 291.4473684210526% 213.15789473684214%; width: 76px; height: 76px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-clock{ background-image: url(../images/sprite.@2x.png); background-position: 75.97911227154047% 70.45454545454545%; background-size: 738.3333333333334% 540%; width: 30px; height: 30px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-letter{ background-image: url(../images/sprite.@2x.png); background-position: 0% 100%; background-size: 671.2121212121212% 675%; width: 33px; height: 24px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-man{ background-image: url(../images/sprite.@2x.png); background-position: 33.43283582089553% 72.07207207207207%; background-size: 410.1851851851852% 317.6470588235294%; width: 54px; height: 51px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-pin{ background-image: url(../images/sprite.@2x.png); background-position: 50% 0%; background-size: 360.1626016260162% 291.8918918918919%; width: 61.5px; height: 55.5px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-profile-white{ background-image: url(../images/sprite.@2x.png); background-position: 96.50872817955111% 45.588235294117645%; background-size: 1054.7619047619048% 623.0769230769231%; width: 21px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0px; }
    .ico-profile{ background-image: url(../images/sprite.@2x.png); background-position: 96.50872817955111% 23.52941176470588%; background-size: 1054.7619047619048% 623.0769230769231%; width: 21px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0px; }
}