/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-family-serif: Times, 'Times New Roman', serif;
$font-family-base: 'Lato', sans-serif;
$f-roboto: 'Roboto Slab', serif;

$line-height-base:            1.5;
$font-size-base:              1rem;

$h2-font-size:                2.5rem;
$h3-font-size:                2rem;
$h4-font-size:                1rem;
$h5-font-size:                1.25rem;

$base: 						#465159;
$yellow: 					#fbbd0e;
$blue-l: 					#026ecd;
$blue: 						#2857a4; 
$grey: 						#e6e9ec;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 60rem,
  xl: 60rem
);

// Navs

$nav-link-padding-y:                0.6rem;
$nav-link-padding-x:                0.9rem;
$nav-link-disabled-color:           #fff;

$nav-tabs-border-color:             transparent;
$nav-tabs-link-active-color:        inherit;
$nav-tabs-link-active-bg:           inherit;
$nav-tabs-link-active-border-color: transparent;

$navbar-padding-y:                  3.35rem;
$navbar-padding-x:                  6.5rem;

$navbar-brand-font-size:            0;
$navbar-brand-padding: 		        0;

$breakpoints: (
	'mobile-portrait': 480px,
	'mobile': 768px,
	'tablet': 992px,
	'tablet-standart': 1024px,
	'small-desktop': 1200px
);