/* ------------------------------------------------------------ *\
	Video
\* ------------------------------------------------------------ */

.video iframe { 
	width: 100%;
	height: 34.1vw; 
}

@include media("<small-desktop") {
	.video iframe {
		height: 51vw; 
	}
}