<nav class="navbar navbar-expand-lg fixed-top">
	<a class="navbar-brand" href="#">
		Suisse - Atlantique
		
		<img src="assets/images/temp/logo@2x.png" alt="" style="width: 15.5rem; height: 3.3rem;">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Commercial</a>
				<a class="dropdown-item" href="#">Oparating</a>
				<a class="dropdown-item" href="#">Crewing</a>
				<a class="dropdown-item" href="#">Technical</a>
				<a class="dropdown-item" href="#">NB + Repairs</a>
				<a class="dropdown-item" href="#">IT</a>
				<a class="dropdown-item" href="#">Insurance</a>
				<a class="dropdown-item" href="#">SQMS</a>
			  </div>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Fleet
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
				<a class="dropdown-item" href="#">All Fleet</a>
				<a class="dropdown-item" href="#">Handysize</a>
				<a class="dropdown-item" href="#">Ultra-Supramax</a>
				<a class="dropdown-item" href="#">Panamax</a>
				<a class="dropdown-item" href="#">Post Panamax</a>
			  </div>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aboutus</a>
			  
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
				<a class="dropdown-item" href="#">Team</a>
				<a class="dropdown-item" href="#">Locations</a>
				<a class="dropdown-item" href="#">History</a>
				<a class="dropdown-item" href="#">References</a>
			  </div>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Contact</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">
				<i class="ico-profile-white"></i>
				<i class="ico-profile"></i>
			  </a>
			</li>
		</ul>
	</div>
</nav>
