/* ------------------------------------------------------------ *\
	Cols
\* ------------------------------------------------------------ */

.cols { 
	display: flex;
	flex-wrap: wrap; 
	
	& &__row .container {
		display: flex; 
		padding: 0; 
		position: relative; 
		justify-content: flex-end;
	}
	
	& &__row--blue {
		background-color: $blue; 
	}
	
	& &__row--blue .container { 
		&:after { 
			content: ''; 
			height: 100%; 
			position: absolute; 
			left: 100%; 
			top: 0; 
			background-color: $blue;
			width: 50vw;  
		}
		
		&:before { 
			content: ''; 
			height: 100%; 
			position: absolute; 
			right: 100%; 
			top: 0; 
			background-color: #fff;
			width: 50vw;  
		}
	}
	
	& &__row--blue .col {
		background-color: $blue; 
		color: #fff; 
	}
	
	& &__row--grey .col {
		background-color: #fff; 
		
		&:first-child {
			background-color: $grey; 
		}
		
		&:last-child {
			background-color: $blue; 
			color: #fff;

			h2{
				width: 100%;
				height: 100%;
			}
			
			& a {
				color: #fff; 
				
				&:hover {
					color: $yellow; 
				}
			}
		}

		&.see-more {
			padding: 0;
			h2{
				width: auto;
				height: auto;
				transition: .3s;

				&::after{
					content: '+';
					display: block;
					color: $yellow;
					transition: .3s;
					pointer-events: none;
				}
			}
			
			.absolute-link{
				position: absolute;
				width: 100%;
				height: 100%;

				&:hover{

					& + h2{
						color: $yellow;

						&::after {
							color: $white;
						}
					}
				}

			}
		}
	}
	
	&:not(.cols__row--grey) .col--1of3:nth-child(2) {
		background-color: $blue;
	}
	
	& &__row--grey .container:after {
		content: ''; 
		height: 100%; 
		position: absolute; 
		left: 100%; 
		top: 0; 
		background-color: #fff;
		width: 50vw;  
	}
}

.row [class^='col-'] {
	background-size: cover; 
	background-position: center; 
}

.col {
	padding: 0; 
	background-size: cover; 
	background-position: center; 
}

.col--size1 { 
	max-width: 60.46%; 
	flex: 0 0 60.46%; 
}

.col--size2 { 
	max-width: 39.54%; 
	flex: 0 0 39.54%;
}

.col--size3 {
	max-width: 20.92%; 
	flex: 0 0 20.92%;
}

.col--1of3 { 
	max-width: 33.33%;
	flex: 0 0 33.33%;
}

.row--bottom {
	align-items: flex-end; 
	justify-content: space-between; 
	
	& + .card-group {
		margin-bottom: 5rem; 
	}
	
	.col-sm-6 {
		padding: 0 2.54rem 4.5rem;
		max-width: 48%; 
		flex: 0 0 48%;
	}

	.title{
		padding: 0 2.54rem 0;
	}
	
	h2 {
		margin-bottom: 1.5rem; 
	}
}

@include media("<small-desktop") {
	.cols__row .container { 
		max-width: 100%; 
	}
	
	.col--size3 {
		max-width: 33.33%; 
		flex: 0 0 33.33%;
	}
}

@include media("<mobile") {
	.cols {
		display: block; 
	}
	
	.col--size1 {
		max-width: 100%; 
	}
	
	.col--size2 {
		max-width: 100%; 
	}
	
	.col--empty {
		min-height: 100vw; 
	}
	
	.row--bottom .col-sm-6 {
		max-width: 100%; 
		flex: 0 0 100%;
		padding: 0 1.5rem; 
		
		& + .col-sm-6 {
			padding: 2rem 1.5rem; 
		}
	}
	
	.col-sm-6 {
		flex: auto;
		max-width: 100%; 
	}
	
	.row--bottom + .card-group {
		margin-bottom: 2rem; 
	}
}