/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts { 
	font-size: 0.8rem; 
	color: $blue; 
	
	.navbar-brand {
		margin: 0 auto 1.7rem; 
	}
	
	a {
		display: block; 
		margin-bottom: 0.3rem; 
	}
	
	a[href^=tel] {
		font-weight: 700; 
	}
	
	a[href^=mail] {
		color: $yellow; 
	}
	
	p {
		margin-bottom: 0.4rem; 
	}
}

@include media("<mobile") {
	.contacts {
		font-size: 1rem; 
		line-height: 1.38; 
		
		a {
			margin-bottom: 1.4rem; 
		}
		
		.navbar-brand {
			margin: 0 auto 1.6rem; 
		}
		
		p {
			margin-bottom: 1.3rem; 
		}
	}
}