.select-hidden {
  display: none;
  visibility: hidden;
}
.select {
  border: 4px solid #e6e9ec;
  border-radius: 0;
  background-color: transparent;
  text-transform: uppercase;
  color: #fbbd0e;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.8rem;
  font-weight: 700;

}


.select-styled {
  width: 100%;
  display: block;
  padding: 1rem 2.75rem 1rem 4.75rem;
  position: relative;
  z-index: 1;
white-space: nowrap;
  cursor: pointer;
}


.select-options {
  display: none;
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  background: #fff;
  max-height: 300px;
  overflow: auto;
  li {
    margin: 0;
    padding: 8px 10px;
    cursor: pointer;
    
    &:hover{
      background: #f8f8f8;
    }
  }
}