/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding: 3.55rem 0 0; 
	
	h5 { 
		color: $blue; 
	}
	
	& &__cols {
		display: flex; 
		flex-wrap: wrap; 
	}

	& &__col {
		padding: 0 2rem; 
	}
		
	& &__col--size1 {
		width: 33.33%; 
		text-align: center; 
	}

	& &__col--size2 {
		padding-top: 1.55rem; 
		width: 22.22%; 
	}
	
	& &__nav {
		font-size: 0.9em; 
		
		& a {
			color: #c9cacd; 
			transition: .3s; 
			
			&:hover {
				color: $blue; 
				text-decoration: none; 
			}
		}
		
		& ul {
			list-style-type: none; 
			padding-left: 0; 
			margin-top: 1.7rem; 
			margin-bottom: 1.5rem; 
		}
		
		& li {
			margin-bottom: 0; 
		}
	}
	
	& &__copyright {
		padding-top: 1.25rem; 
		text-align: center; 
		font-size: 0.8em; 
		color: #c9cacd; 
		
		a {
			color: #c9cacd; 
			transition: .3s; 
		}
		
		a:hover {
			color: $blue; 
			text-decoration: none; 
		}
	}	
}

@include media("<mobile") {
	.footer .footer__cols {
		display: block; 
	}
	
	.footer .footer__col--size1 {
		width: 100%; 
	}
	
	.footer {
		padding: 3.2rem 0 1.5rem; 
		
		.navbar-brand img {
			max-width: 100%; 
			width: 17.4rem !important; 
		}
	}
}