
.overflow-hidden{
  overflow: hidden;
}

body.overflow-hidden{
  position: relative;
}

.overlay{
    content:'';
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  z-index: 1;

}

.no-repeat {
  background-repeat: no-repeat !important;
}