/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] {
	list-style: none outside none;
}

// List Images

.list-images { 
	display: flex; 
	flex-wrap: wrap; 
	padding-left: 0; 
	padding: 5.9rem 0 4.9rem; 
	margin: 0 -0.15rem; 
	
	& + .card-group {
		padding-top: 1.6rem; 
	}
	
	li {
		width: 33.33%;
		padding: 0.1rem;  
	}
		
	img {
		display: none; 
	}
	
	a {
		background-size: cover;
		background-position: center; 
		position: relative; 
		padding-top: 101.3%;
<<<<<<< HEAD
		display: block; 
=======
		display: block;

			&:hover {
				.list-contents{
					opacity: 0;
					visibility: hidden;
				}
			}


>>>>>>> 5ef38426564f9a8aa780634435cbcb4ef365e48d

		@media (hover: hover) {
		&:hover h2 {
			opacity: 0;
			visibility: hidden;
		}
		}
		
		&:hover > div:not([class]) {
			opacity: 1; 
			visibility: visible; 
		}
	
		> h5 {
			position: absolute; 
			z-index: 0; 
			bottom: 0;
			left: 0; 
			text-align: center; 
			color: #fff; 
			width: 100%; 
			margin-bottom: 0; 
			padding: 1rem 0; 
			
			small {
				display: block; 
				margin-top: 0.5rem; 
			}
		}
	}
		
	.list-contents {
		text-align: center; 
		background-color: rgba($blue-l, .7);
		position: absolute; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		display: flex;
		justify-content: center; 
		align-content: center; 
		flex-wrap: wrap;
		flex-direction: column;
		color: #fff;
		margin-bottom: 0;
		opacity: 1;
		visibility: visible;

		transition: .4s;
		
		&:after {
			content: '+'; 
			color: $yellow; 
			width: 100%;
			font-weight: 900;
			font-size: 2.5rem;
			line-height: 1;
		}


	}
	
	li > a > div:not([class]) {
		position: absolute; 
		z-index: 5; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		background: $blue; 
		display: flex; 
		justify-content: center; 
		align-content: center; 
		flex-wrap: wrap; 
		text-align: center; 
		color: #fff; 
		padding: 1rem; 
		opacity: 0;
		visibility: hidden; 
		transition: .3s; 
		
		h5 {
			margin-bottom: 2.5rem; 
		}
	}
}

// List Links

.list-links {
	padding-left: 0; 
	font-size: 1.25rem; 
	font-weight: 700; 
	
	a {
		color: $yellow; 
		text-decoration: underline; 
		
		&:hover {
			text-decoration: underline; 
		}
	}
	
	li {
		margin-top: 0.9rem; 
	}
}

@include media("<tablet") {
	.list-images {
		margin: 0; 
	}
}

@include media("<mobile") {
	.list-images { 
		padding: 4rem 0; 
		display: block; 
		
		li {
			width: 100%;  
		}
		
		h5 {
			font-size: 2rem; 
		}
		
		& + .card-group {
			padding-top: 0; 
		}
	}
}


.single {
	.image-popup-vertical-fit{
		position: relative;

		&::after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
		}

		&:hover {

			&::after {

				//background-color: rgba($blue-l, .9);
				//transition: all 0.4s;
			}


			h2{
				//display: none;
			}
		}
	}
}