/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.popup-trigger {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	padding: 0 4.3rem; 
	display: flex; 
	align-content: center; 
	align-items: center; 
	color: #fff; 
	transition: .3s; 
	
	i {
		display: block; 
		margin-bottom: 1rem; 
	}
	
	.ico-arrow-right {
		margin-top: 1.8rem; 
	}
	
	&:hover {
		color: $yellow; 
		text-decoration: none; 
	}
	
	&:focus {
		outline: 0; 
	}
}