/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	background: $grey; 
	
	> .row {
		margin: 0; 
	}
	
	& > .video {
		margin-top: 1.75rem; 
		
		iframe {
			height: 54.5vw; 
			display: block;
			border: 0;
			outline: 0;
		}
	}
	
	& &__inner { 
		float: right; 
		padding: 6.15rem 11% 5.7rem 2rem; 
		width: 68.89%;
		
		& p {
			color: #888; 
		}
		
		& h2 {
			margin-bottom: 2.7rem; 
			max-width: 20.8rem; 
		}
	}
	
	.row .section__inner {
		padding: 5.3rem 2.3rem 0; 
		width: 92%; 
		float: none;  
		
		h2 {
			margin-bottom: 1.3rem; 
		}
	}
	
	.row .section__image {
		padding: 2.9rem 0.2rem 0 1.7rem; 
	}
	
	& &__content { 
		padding: 6.15rem 50% 2.5rem 4.2rem; 
		color: #fff; 
		height: 100%; 
		
		& h5 {
			margin-bottom: 2rem; 
		}
		
		& .link-more {
			margin-top: 3rem; 
		}
		
		.list-links {
			height: 100%; 
			display: flex;  
			flex-wrap: wrap; 
			align-content: center; 
			margin-bottom: 0; 
			padding-bottom: 5.5rem; 
		}
	}
	
	& .section__head {
		padding: 0 1.85rem; 
		
		.link-more {
			padding-left: 0.3rem; 
		}
	}
	
	& &__actions {
		text-align: right; 
		
		a + a {
			margin-left: 0.75rem; 
		}
	}
	
	& &__bar {
		background: $blue; 
		color: #fff; 
		padding: 3.1em 0 3.3em; 
		
		h2 {
			margin-bottom: 0.9rem; 
		}
		
		& + .section__body .list-images {
			padding: 4rem 0 3.85rem; 
		}
		
		& + .section__body {
			background: #fff; 
		}
		
		&.text-center {
			padding: 5.6rem 0 3.3rem; 
		}
	}
	
	& &__group {
		max-width: 34rem; 
		margin: 0 auto; 
		padding: 6.65rem 0 5.9rem; 
		
		h2 {
			margin-bottom: 2.2rem; 
		}
		
		.section__actions {
			padding: 1.5rem 0 0; 
			
			a {
				padding: 0.55em 2.2rem; 
			}
		}
	}
	
	& &__entry {
		padding: 7.2rem 14rem 8.25rem 8rem; 
		line-height: 1.3; 
		
		p {
			margin-bottom: 1.3rem; 
		}
		
		h2 {
			margin-bottom: 1.23rem; 
		}
	}
	
}

.section:first-child .section__bar + .section__body {
	background: transparent; 
}

.section:first-child .section__bar + .section__body .list-images {
	padding: 3.5em 0; 
}

.text-center .section__actions {
	text-align: center; 		
}

// Remove white space from the section
//.section--simple + .section--simple:not([class*="bg-"]),
.bg-white + .bg-white,
.bg-grey + .bg-grey {
	padding-top: 0 !important;
}

// Section Services

.section-services { 
	position: relative;
	padding: 3.8rem 0; 
	
	h2 {
		margin-bottom: 0rem; 
	}
	
	&:before {
		content: ''; 
		position: absolute; 
		top: 0; 
		bottom: 0; 
		right: 0; 
		background: $grey; 
		width: 39.5%; 
	}
	
	&:after {
		content: ''; 
		position: absolute; 
		left: 50%; 
		transform: translateX(-50%) translateZ(0); 
		bottom: 0; 
		width: 0.12rem; 
		height: 6.3rem; 
		background: #2c92ff; 	
	}
	
	.section__head {
		padding-left: 1.8rem; 
	}
}

// Section Grid

.section--grid { 
	position: relative; 
	
	.cols__row {
		background: $grey; 
		width: 100%; 
		overflow: hidden; 
		display: flex; 
		flex-wrap: wrap; 
		
		&--blue {
			background: $blue; 
		}
	}
	
	.col:nth-child(2) {
		padding-left: 4.8rem; 
		padding-right: 1rem; 
	}
	
	.col { 
		min-height: 19.7vw;
		display: flex; 
		align-content: center; 
		align-items: center; 
		justify-content: center; 
		padding: 0 3.9rem 0 2.7rem; 
	}
	
	&:before {
		content: ''; 
		z-index: 5; 
		position: absolute;
		left: 50%; 
		top: 0; 
		transform: translateX(-50%); 
		width: 0.12rem; 
		height: 3.25rem; 
		background: #fff; 
	}
	
	&:nth-child(3):before {
		display: none; 
	}
}

// Section Post

.section-post {
	overflow: hidden;
	margin-top: 3.125rem;
	
	.container { 
		position: relative; 
	}
	
	&:after {
		position: absolute;
		bottom: 0;
		content: ''; 
		left: 0; 
		width: 100%; 
		height: calc(100% - 19.9vw); 
		background: $grey; 
		z-index: -1; 
	}
	
	.section__head { 
		position: absolute; 
		background: $blue-l; 
		color: #fff; 
		padding: 1rem 5rem 1rem 0.75rem; 
		width: 33.33%; 
		height: 19.9vw; 
		display: flex;
		flex-wrap: wrap; 
		align-content: center; 
		
		h5 {
			margin-bottom: 1.4rem; 
		}
		
		h3 {
			margin-bottom: 1.5rem; 
		}
		
		&:before {
			content: ''; 
			position: absolute;
			top: 0;
			height: 100%; 
			right: 100%; 
			width: 50vw; 
			background: $blue-l; 
		}
	}	
}

// Section Simple

.section--simple {
	background: #fff; 
	padding: 5.9rem 0 4rem; 
	
	.row.align-items-center { 
		padding-bottom: 3.8rem; 
		
		.section__image {
			padding: 0 0.2rem 0 1.7rem; 
		}
	}
	
	.row.align-items-center .section__inner { 
		padding: 3rem 1.8rem 2.4rem; 
	}
}

// Section Table

.section--table {
	padding: 6.45rem 0 6.7rem;
}

@include media("<small-desktop") {
	.section .section__inner {
		width: 90%; 
		padding: 5rem 26% 5rem 2rem; 
	}
	
	.section .section__content {
	    padding: 6.15rem 21% 2.5rem 4.2rem;
	}
	
	.section-services:before { 
		display: none; 
	}
	
	.section--grid .col {
		min-height: 26vw; 
		padding: 0.5rem 4.5rem; 
	}
	
	.section--grid .col--size2 {
		max-width: 33.33%; 
		flex: 0 0 33.33%; 
	}
	
	.section-post .section__head {
		width: calc(33.33% - 1vw); 
	}
	
	.section .section__entry {
		padding: 4rem; 
	}
}

@include media("<tablet") {
	.section-post .section__head {
		width: 33.33%; 
		height: 24vw; 
	}
	
	.section .section__inner br {
		display: none; 
	}
	
	.section .section__bar {
		padding: 3.1rem 0.75rem 3.5rem; 
	}
	
	.section--simple .row .section__inner {
		padding: 0 1.8rem; 
	}
	
	.section .row .section__image {
		padding: 0 0.2rem; 
	}
	
	.section--simple + .section--simple  {
		padding-top: 0; 
	}
	
	.section-services .section__head {
		padding-left: 0; 
	}
}

@include media("<mobile") {
	.section .section__inner {
		float: none; 
		width: 100%; 
		padding: 3.6rem 2.3rem 1.5rem 2.8rem; 
	}
	
	.section .section__content {
	    padding: 6.3rem 21% 7.7rem 2.8rem;
	}
	
	.section .section__content h5 {
		margin-bottom: 1.7rem; 
	}
	
	.section-services .section__head {
		padding: 0 2.8rem; 
	}
	
	.section .section__content .link-more {
		margin-top: 2rem; 
	}
	
	.section-services {
		padding: 6.1rem 0 4.9rem; 
	}
	
	.section .section__head {
	    padding: 0 2.8rem;
	}
	
	.section-services:after {
		display: none; 
	}
	
	.section-post .section__image {
		overflow: hidden; 
		
		& img {
			width: 193%; 
			max-width: none; 
		}
	}
	
	.section-post .section__head {
	    width: 76%;
	    min-height: 67.9vw; 
	    padding: 1rem 2rem 1rem 2.1rem; 
	    
	    h5 {
	    	margin-bottom: 1.1rem; 
	    }
	    
	    h3 {
	    	margin-bottom: 1.1rem; 
	    }
	}
	
	.section--grid .hidden-xs + .col--1of3:not(.hidden-xs) {
		max-width: 100%; 
		flex: 0 0 100%;
	}
	
	.section--simple .row.align-items-center .section__inner {
		padding: 0; 
	}
	
	.section--simple .row.align-items-center {
		padding-bottom: 1rem; 
	}
	
	.section--simple .row.align-items-center .section__image {
		padding: 0; 
	}
	
	.section .section__group {
		padding: 3.5rem 0; 
	}
	
	.section .section__group .section__actions a {
		padding: 0.55rem 1.5rem; 
	}
	
	.section--simple {
		padding: 3.5rem 0; 
	}
	
	.section--simple .row .section__inner {
		padding: 0; 
	}
	
	.section .row .section__inner {
		width: 100%; 
		margin-bottom: 2rem; 
	}
	
	.section .row .section__image {
		padding: 0; 
	}
	
	.section .section__entry {
		padding: 2rem 0; 
		line-height: 1.5; 
	}
	
	.section .section__bar.text-center {
		padding: 3.5rem 0; 
	}
	
	.section > .video {
		margin-top: 0; 
	}
	
	.section .section__content .list-links {
		padding-bottom: 0; 
	}
}