/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider .slick-arrow { 
	position: absolute; 
	bottom: 0;
	width: 10rem; 
	height: 6.15rem; 
	font-size: 0; 
	border: 0; 
	background-size: 1rem 1.4rem; 
	background-position: center; 
	background-repeat: no-repeat; 
	cursor: pointer; 
	transition: .3s; 
	
	&:hover {
		opacity: .8; 
	}
}

.slider .slick-prev {
	right: 10rem; 
	background-color: $blue; 
	background-image: url(../images/temp/ico-prev.png); 
}

.slider .slick-next {
	right: 0; 
	background-color: $blue-l; 
	background-image: url(../images/temp/ico-next.png); 
}

.slider { 
	margin: 2.5rem 0; 
	
	& &__slides {
		padding-bottom: 6.15rem; 
	}
	
	& .slide__head {
		padding: 0 2.8rem; 
		margin-bottom: 1.3rem; 
	}
	
	& .slide__image {
		min-height: 102vw; 
		background-size: cover;
		background-position: center; 
	}
}

.slider--mobile {
	display: none; 
}

@include media("<tablet") {
	.slider .slider__slides {
		padding: 0 0.75rem 6.15rem; 
	}
	
	.slider .slick-arrow:hover {
		opacity: 1; 
	}
	
	.slider .slick-prev {
		right: 10.75rem; 
	}
	
	.slider .slick-next {
		right: 0.75rem; 
	}
	
	.slider .slick-arrow {
		width: 10.38rem; 
	}
}

@include media("<mobile") {
	.slider {
	    margin: 1.5rem 0;
	}
	
	.slider .slider__slides { 
		padding: 0;
	}
	
	.slider .slick-prev {
		display: none!important; 
	}
	
	.slider .slick-next {
		width: 26vw; 
		right: 0; 
		bottom: -2.25rem; 
		height: 4rem; 
		background-size: 0.7rem 1rem; 
	}
	
	.slider--mobile {
		display: block; 
		margin-top: 0; 
		padding-bottom: 2.3rem; 
		margin-bottom: 3rem; 
	}
}