/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table thead th {
	border: 0; 
	background: $blue; 
	color: #fff; 
	padding: 0.8rem 1.1rem; 
	text-transform: uppercase; 
}

.table {
	font-size: 0.9rem; 
	margin-top: 2rem; 
	letter-spacing: 0.1em; 
	line-height: 1.15; 
	margin-bottom: 1.3em; 
	
	.td--blue {
		color: $blue; 
	}
	
	& + .accordion {
		margin-top: 8.6rem; 
	}
}

.table-striped tbody tr:nth-of-type(odd) {
	background: $grey; 
}

.table-striped tbody td + td {
	border-left: 1px solid rgba(70, 81, 89, .2); 
	padding: 0 1.9rem 0.3rem; 
}

.table-striped td {
	padding: 0rem 2.1rem 0.3rem 1.1rem; 
	height: 3.65rem; 
	vertical-align: middle; 
}

.table--secondary {
	margin-top: 4.6rem; 
	margin-bottom: 2rem; 
	
	td {
		padding: 0 1.5rem 0.3rem; 
		height: 2.5rem; 
	}
		
	tbody td + td {
		padding: 0 1.5rem 0.3rem; 
	}
	
	thead th {
		padding: 0.8rem 1.5rem; 
		
		& + th {
			border-left: 1px solid #5379b6; 
		}
	}
}

@include media("<tablet") {
	.table + .accordion {
		margin-top: 4rem; 
	}
}

@include media("<mobile") {
	.table .thead th {
		padding: 0.8rem 0.6rem; 
	}
	
	.table-striped td {
		padding: 0.3rem 0.6rem 0.3rem 0.6rem; 
		width: auto !important; 
	}
	
	.table-striped tbody td + td {
		padding: 0.3rem 0.6rem 0.3rem; 
	}
	
	.table {
		letter-spacing: 0.01em; 
	}
	
	.table--secondary thead th {
		padding: 0.6rem; 
	}
	
	.table__wrapper {
		margin-top: 3.5rem; 
		margin-bottom: 2rem; 
	}
	
	.table--secondary {
		margin-top: 0; 
		margin-bottom: 0; 
	}
}