.team-list {
  position: relative;
  overflow: hidden;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba($blue-l, 0.7);


  }
  
  a{
    cursor: default;
  }

  .content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 40px;

    opacity: 0;
    visibility: hidden;

    transform: translateX(-100%);
    transition: transform 0.4s;
  }


    h2{
      opacity: 1;
      visibility: visible;
      background: none;
      z-index: 1;
      text-align: left;
      position: static;
      display: block;



      &:after{
        display: none;
      }
    }


  .team-position{
    color: $white;
    position: absolute;
    bottom: -100px;
    z-index: 1;
  }


  &:hover {
    &:after {
      opacity: 1;
      transition: all 0.6s;
    }

    .content-wrap{
      opacity: 1;
      visibility: visible;
      transform: translateX(0);

    }

    .team-position{
      bottom: 30px;
      transition: bottom 0.4s 0.2s;

    }
  }
}


.team-members{

  &:first-child(){
    margin-top: 4.9rem;
  }

  h1{
    @include media('<tablet') {
      padding: 0 15px;
    }
  }

  .list-images{
    padding-top: 1.25rem;
  }


  .list-images{
    a:hover{
     h2{
       visibility: visible;
       opacity: 1;
     }
      }

  }
}