.acf-table .acf-option-customized-wrapper{
    background-color:rgb(249, 249, 249);
    padding:10px;
}
.acf-table .acf-option-customized-wrapper label{
    margin-left:5px;
}
.acf-table .acf-option-customized-wrapper select{
    width:auto;
    margin-left:5px;
}


/*== create three column acf flexible popup ==*/
.acf-fc-popup > ul{
    column-count: 3;
}