/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html { 
	font-size: 1.04vw; 
}

body { 
	color: $base; 
}

h2 { 
	font-weight: 900;
	line-height: 1.06;
	letter-spacing: -0.02em; 
	
	a { 
		position: relative; 
		transition: .3s; 
		
		&:after {
			content: '+'; 
			display: block; 
			color: $yellow; 
			transition: .3s; 
			pointer-events: none;
		}
		
		&:hover {
			text-decoration: none; 
			color: $yellow; 
			
			&:after {
				color: #fff; 
			}
		}
	}
}

h3 {
	font-weight: 400; 
	line-height: 1.13; 
	letter-spacing: -0.02em; 
	font-family: $f-roboto; 
}

h4 {
	font-weight: 900; 
	letter-spacing: 0.1em; 
	text-transform: uppercase; 
}

h5 {
	font-weight: 700; 
	letter-spacing: -0.02em; 
}

img { 
	max-width: 100%; 
}

.container.container--no-padding {
	padding: 0; 
}

.container {
	padding: 0 0.75rem; 
}

.visible-xs-inline-block {
	display: none; 
}

p:not([class]) a {
	text-decoration: underline; 
	color: $yellow; 
}

@include media("<small-desktop") {
	html {
		font-size: 1.55vw; 
	}
}

@include media("<tablet") {
	body {
		font-size: 1.2rem; 
	}
}

@include media("<mobile") {
	html {
		font-size: 2.7vw; 
	}
	
	body {
		font-size: 1rem; 
		line-height: 1.36; 
	}
	
	h2 {
		font-size: 2rem; 
		line-height: 1.07; 
	}
	
	h3 {
		font-size: 2rem; 
		line-height: 0.9; 
	}
	
	h5 {
		font-size: 1rem; 
	}
	
	.hidden-xs {
		display: none!important; 
	}
	
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
		padding: 0 1.67rem; 
	}
	
	.container {
		padding: 0 1.67rem; 
	}
}

@include media("<mobile-portrait") {
	
	html {
		font-size: 4vw; 
	}
}