/* ------------------------------------------------------------ *\
	Bg
\* ------------------------------------------------------------ */

.bg-white {
	background: #fff; 
	color: $base; 
}

.bg-blue {
	background: $blue; 
	color: #fff;
	
	&.section .section__inner p {
		color: #fff; 
	} 
}

.bg-grey {
	background: $grey; 
	color: $base; 
}

.section .section__bar.bg-grey {
	background: $grey; 
	color: $base; 
}

.section .section__bar.bg-white {
	color: $blue; 
}

@include media("<tablet") {
	.section--simple.bg-blue + .section--simple,
	.section--simple.bg-grey + .section--simple,
	.section--simple + .section--simple.bg-grey,
	.section--simple + .section--simple.bg-blue {
		padding-top: 4rem; 
	}
}