/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.box {
	display: flex; 
	align-items: center; 
	
	& &__image {
		
	}
}
