/* ------------------------------------------------------------ *\
	Carousel
\* ------------------------------------------------------------ */


.carousel {
	display: flex; 
	flex-wrap: wrap; 
	align-items: flex-end; 
	position: relative; 
	
	&:after {
		content: ''; 
		position: absolute;
		top: 50%; 
		left: 50%; 
		width: 0.12rem; 
		height: 9.55rem; 
		background: $blue-l; 
		z-index: 10; 
		transform: translate(-50%, -50%); 
	}
	
	.link-more {
		background: $blue; 
		text-align: center;
		width: 17.6rem;
		height: 10.45rem;
		position: absolute;
		bottom: 0;
		left: 0; 
		line-height: 10.45rem; 
	}
}

.carousel-indicators .active {
	background: $yellow; 
}

.carousel-indicators li {
	background: #dee7eb; 
	width: 1.25rem; 
}

.carousel-indicators {
	position: static; 
	width: 17.6rem; 
	margin-bottom: 10.45rem; 
	margin-left: 0; 
	margin-right: 0; 
	background: $blue-l; 
	padding: 5.1rem 0; 
}

.carousel-indicators li { 
	margin: 0; 
	cursor: pointer; 
}

.carousel-control-prev, .carousel-control-next {
	width: 1rem; 
	height: 1.4rem; 
	top: auto;
	bottom: 15rem; 
	z-index: 20; 
	opacity: 1; 
	transition: .3s; 
	
	&:hover {
		opacity: .6; 
	}
}

.carousel-caption {
	position: absolute;
	top: calc(50% + 0.4rem);
	left: 57%; 
	right: auto; 
	transform: translateY(-50%); 
	text-align: left; 
	bottom: auto; 
	width: 16rem; 
	
	& h2 {
		position: relative; 
		margin-bottom: 2.5rem; 
		
		& i {
			position: absolute; 
			right: calc(100% + 2.5rem); 
			top: -0.5rem; 
		}
	}
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 100%; 
	width: 100%; 
	background-size: cover; 
}

.carousel-indicators li { 
	height: 4px; 
}

.carousel-control-next {
	right: auto;
	left: 12.3rem; 
}

.carousel-control-prev {
	left: 4.8rem; 
}

.carousel-inner {
	width: calc(100% - 17.6rem); 
}

@include media("<mobile") {
	.carousel-indicators {
		display: none; 
	}
	
	.carousel-inner {
		width: 100%; 
	}
	
	.carousel .link-more {
		display: none; 
	}
	
	.carousel-item p {
		font-size: 1rem; 
	}
	
	.carousel-item img {
		height: 105vw; 
		width: auto!important; 
		max-width: none; 
	}
	
	.carousel:after {
		display: none; 
	}
	
	.carousel-control-prev {
		display: none; 
	}
	
	.carousel-control-next {
		background: $blue-l; 
		width: 26vw; 
		height: 4rem;
		line-height: 4rem; 
		display: inline-block; 
		right: 0; 
		left: auto; 
		bottom: -2.25rem; 
		transform: none; 
		
		&:hover {
			opacity: 1; 
		}
	}
	
	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: 0.6rem; 
		height: 0.93rem; 
	}
	
	.carousel .d-none {
		display: block !important; 
	}
	
	.carousel-caption {
		left: 29%; 
		padding: 1rem 2rem 1rem 1rem; 
	}
	
	.carousel-caption h2 {
		margin-bottom: 2.2rem; 
		
		i {
			right: calc(100% + 1.9rem);
			top: -0.3rem;
		}
	}
}