/* ------------------------------------------------------------ *\
	Cards
\* ------------------------------------------------------------ */

.card-group {
	margin: 0 -0.25% 4.2rem; 
}

.card {
	border-radius: 0; 
	padding: 0 0.25%; 
	border: 0; 
	line-height: 1.55; 
	background-color: transparent; 
	text-align: left; 
	
	h3 {
		font-weight: 900; 
		font-size: 1.25rem; 
		letter-spacing: 0; 
		font-family: 'Lato', sans-serif; 
	}
	
	.card__image { 
		img {
			width: 100%; 
		}
		
		&--large {
			margin-bottom: 0.43rem;  
		}
	}
	
	.card-body {
		padding: 2.12rem 13.7%; 
	}
	
	h4 {
		margin-bottom: 0.15rem; 
	}
	
	.btn {
		margin-top: 0.45rem; 
		min-width: 12.88rem; 
	}
}

@include media("<tablet") {
	.card .card-body {
		padding-bottom: 2rem; 
	}
}

@include media("<mobile") {
	.card-group {
		flex-wrap: wrap; 
	    margin: 0 -0.25% 2rem;
		
		.card {
			margin-bottom: 2rem; 
			width: 100%; 
			flex: auto;
			
			&:last-child {
				margin-bottom: 0; 
			}
		}
	}
	
	.card .card-body {
		padding: 2.12rem 1.67rem; 
	}
}