/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */

.dropdown-toggle::after { 
	display: none; 
}

.dropdown-menu { 
	background: #2d59a2; 
	border-radius: 0; 
	border: 0; 
	font-size: 1.2rem; 
	padding: 2.3rem 0;
	margin: 0; 
	left: calc(50% + 0.5rem); 
	transform: translateX(-50%); 
	
	a {
		color: $yellow; 
	}
}

.dropdown-item {
	font-weight: 700; 
	padding: 0.65rem 2.4rem 0.63rem 3rem; 
	position: relative; 
}

.dropdown-item + .dropdown-item:before {
	content: ''; 
	position: absolute; 
	left: 50%;
	transform: translateX(-50%); 
	height: 1px; 
	width: calc(100% - 6rem); 
	background: #fff; 
	top: 0; 
	opacity: .1; 
}

.dropdown.show { 
	position: relative; 
}

.dropdown.show:before {
	opacity: 1; 
}

.dropdown:before {
	content: ''; 
	position: absolute; 
	left: 50%;
	transform: translateX(-50%); 
	height: 3px; 
	width: calc(100% - 2rem); 
	background: $yellow; 
	bottom: 0; 
	opacity: 0; 
}

@include media("<tablet") {
	.dropdown {
		position: relative; 
		
		a:after {
			display: inline-block; 
		}
	}
	.dropdown.show {
		background: rgba(0, 0, 0, 0.1);  
		padding-bottom: 0.65rem; 
		
		.dropdown-toggle::after {
			transform: rotate(180deg); 
		}
	}
	
	.dropdown.show:before {
		opacity: 0; 
	}
	
	.dropdown-toggle::after {
		transition: .3s; 
	}
	
	.dropdown-menu {
		transform: none;
		background-color: transparent; 
		padding: 0.5rem 0 0rem; 
		text-align: center; 
		font-size: 1rem; 
		
		a {
			color: $blue-l; 
		}
	}
	
	.dropdown-item {
		padding: 0.3rem 1.5rem; 
	}
}