/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

// Form Filter

.form-filter .form__col--size1 {
	width: 41.25%; 
	margin-right: 4.75%; 
}

.form-filter .form__col--size2 {
	width: 24.42%; 
	margin-left: 2.58%; 
}

.form-filter .form-row > [class*="col-"] {
	padding: 0; 
}

.form-filter .form-row {
	margin: 0; 
}

.form-filter select {
	border: 4px solid $grey; 
	border-radius: 0; 
	background-color: transparent; 
	text-transform: uppercase;
	color: $yellow; 
	padding: 0 2.75rem 0 4.75rem; 
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 0.8rem;
	font-weight: 700; 
	
	&:active {
		background-color: transparent; 
		color: $yellow; 
	}
	
	&:focus {
		background-color: transparent; 
		color: $yellow; 
	}
}

.form-filter select::-ms-expand {
	display: none;
}

.form-filter label {
	text-transform: uppercase; 
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	left: 1.4rem; 
}

.form-filter {
	font-size: 0.8rem; 
	font-weight: 700; 
	
	.form-group {
		position: relative; 
		margin-bottom: 0; 
		
		&:after {
			content: ''; 
			position: absolute;
			top: 50%; 
			right: 1.5rem; 
			transform: translateY(-50%) rotate(90deg); 
			background-image: url(../images/temp/ico-next.png); 
			width: 0.45rem;
			height: 0.85rem; 
			z-index: 10; 
			background-size: cover; 
			background-position: center; 
			pointer-events: none;
		}
	}
	
	.btn {
		display: block; 
		text-transform: uppercase; 
		font-size: 0.8rem; 
		height: 100%; 
	}
	
	select.form-control:not([size]):not([multiple]) {
		height: 3.3rem; 
	}
}

// Form Default

.form-default {
	text-align: center; 
	max-width: 41.2rem; 
	margin: 0 auto 2.5rem; 
	
	.form__body {
		padding: 0 8.2rem; 
	}
	
	&:first-child {
		margin-top: -1rem; 
	}
	
	.form__head {
		margin-bottom: 2.1rem; 
	}
	
	.form__head p {
		font-size: 0.85rem; 
		line-height: 1.41;
		letter-spacing: 0.05em; 
	}
	
	.form__head h2 {
		margin-bottom: 0.3rem; 
	}
	
	.form__actions {
		padding-top: 1.2rem; 
		
		.btn {
			min-width: 13rem; 
		}
	}
	
	input,
	textarea {
		border-radius: 0;
		border: 4px solid #e6e9ec; 
		text-transform: uppercase; 
		font-size: 0.8rem; 
		padding: 0.88rem 1.2rem; 
		margin-bottom: 0; 
		color: $base; 
		
		&::placeholder {
			color: $base;
		}
		
		&:focus {
			box-shadow: none; 
		}
	}
	
	textarea {
		height: 9.6rem; 
	}
	
	.form-group {
		margin-bottom: 0.8rem; 
	}
	
	.form-check {
		text-align: left; 
		padding-top: 1rem; 
		padding-left: 0; 
		display: flex; 
		flex-wrap: wrap; 
		flex-flow: column-reverse;
	}
	
	.form-check-label {
		padding-left: 0;  
		font-size: 0.9rem; 
		display: inline-block; 
		vertical-align: middle; 
		width: auto; 
		flex: auto;
		cursor: pointer; 
		
		&:after {
			margin-left: 0.8rem; 
			content: ''; 
			border-radius: 4px; 
			background: $blue;
			width: 1rem;
			height: 1rem; 
			display: inline-block; 
			vertical-align: middle; 
			text-align: center;
			color: #FFF; 
			line-height: 1rem; 
		}
	}
	
	.form-check-input {
		position: static; 
		display: inline-block; 
		display: none; 
		
		&:checked + .form-check-label:after {
			content: '\2713';
		}
	}
}

@include media("<mobile") {
	.form-filter .form__col--size1 {
		width: 100%;
		margin-right: 0; 
	}	
	
	.form-filter .form__col--size2 {
		width: 100%;
		margin-left: 0; 
	}
	
	.form-filter .form-row > [class*="col-"] {
		margin-bottom: 1rem; 
	}
	
	.form-default .form__body {
		padding: 0; 
	}
	
	.form-default:first-child { 
		margin-top: 0; 
	}
	
	.form-default {
		margin: 0 auto; 
	}
}