/* ------------------------------------------------------------ *\
	Modal
\* ------------------------------------------------------------ */

.modal {
	padding-right: 0 !important; 
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  min-height: calc(100% - (#{$modal-dialog-margin} * 2));
}

.modal-content {
	width: 100%; 
}

.modal-dialog {
	max-width: 90%; 
}