/* ------------------------------------------------------------ *\
	Navbar
\* ------------------------------------------------------------ */

.navbar {
	text-transform: uppercase; 
	font-weight: 900; 
	letter-spacing: 0.05rem; 
	font-size: 0.8rem; 
	padding: 3.35rem 5.7rem; 
	transition: .3s; 
	
	.navbar-brand {
		display: none;  
	}
	
	.ico-profile {
		display: none; 
	}
	
	.nav-link:focus {
		outline: 0;
	}
}

.navbar-expand-lg { 
	justify-content: space-between; 
	
	a {
		color: #e6e9ec; transition: .3s; 
	}
}

.nav-link.disabled {
	color: #e6e9ec; 
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0.6rem 0; 
	
	&:hover {
		color: $yellow; 
	}
}

.navbar-expand-lg .nav-link {
	color: #fff; 
}

.navbarFixed .navbar { 
	padding: 0 5.3rem 0 2.7rem; 
	border-bottom: 3px solid #204b9a; 
	background: #fff; 
	
	.navbar-brand {
		display: inline-block;  
	}
}

.navbarFixed .navbar-expand-lg .navbar-nav .nav-link {
	padding: 1.55rem 0; 
}

.navbarFixed .navbar-expand-lg .nav-link {
	color: #2759a2; 
}

.navbarFixed .ico-profile-white {
	display: none; 
}

.navbarFixed .ico-profile {
	display: inline-block; 
}

.navbarFixed .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
	padding: 1.39rem 0; 
}

.navbar-brand { 
	padding: 0; 
	margin-right: 0; 
}

// Nav Tabs

.nav-tabs {
	border-bottom: 1px solid #c6cbcf; 
	
	a {
		display: block;
		text-align: center; 
		color: $base;
		background: $grey;  
		border-radius: 0; 
	}
}

.nav-tabs .nav-item {
	min-width: 9.4rem; 
	text-transform: uppercase; 
	font-weight: 700; 
	letter-spacing: 0.1em; 
	font-size: 0.9rem; 
	padding: 0; 
	text-decoration: none; 
	
	& + .nav-item {
		border-left: 1px solid #c6cbcf; 
	}
}

.navbar-toggler:focus {
	outline: 0;
}

.navbar-toggler {
	cursor: pointer; 
	padding: 0; 
	margin: 0 0.6rem; 
}

.navbar-toggler span {
	position: relative;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	width: 2.5rem;
	height: 1rem;
	border-top: 0.33rem solid $blue-l;
}
    
.navbar-toggler span:before,
.navbar-toggler span:after {
	position: absolute;
	left: 0;
	height: 0.33rem;
	background: $blue-l;
	content: '';
}

.navbar-toggler span:before {
	width: 1.3rem; 
	top: -1rem;
}
.navbar-toggler span:after {
	top: 0.25rem;
	width: 2.2rem; 
}

.navbar-toggler span:before,
.navbar-toggler span:after,
.navbar-toggler span {
    -webkit-transition: all .3s linear; 
            transition: all .3s linear; 
 }

.navbar-toggler[aria-expanded="true"] span {
	border-color: transparent;
}
.navbar-toggler[aria-expanded="true"] span:before,
.navbar-toggler[aria-expanded="true"] span:after {
	background: $blue-l;
}

.navbar-toggler[aria-expanded="true"] span:before { 
-webkit-transform: rotate(45deg) translate(0.7rem, 0.6rem);
        transform: rotate(45deg) translate(0.7rem, 0.6rem);
        width: 2.2rem; 
}

.navbar-toggler[aria-expanded="true"] span:after { 
-webkit-transform: rotate(-45deg) translate(0.4rem, -0.3rem);
        transform: rotate(-45deg) translate(0.4rem, -0.3rem); 
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background: $blue; 
	color: #fff; 
}

.nav-tabs .nav-link {
	border-radius: 0; 
	border: 0; 
	transition: .3s; 
	
	&:hover {
		background: $blue-l; 
		color: #fff; 
	}
}

@include media("<small-desktop") {
	.navbar {
		padding: 2rem; 
	}
	
	.navbarFixed .navbar { 
		padding: 0 2rem; 
	}
}

@include media("<tablet") {
	.navbar .navbar-brand {
		display: inline-block; 
		opacity: 0;
		visibility: hidden; 
		position: relative; 
	}
	
	.navbarFixed .navbar .navbar-brand {
		opacity: 1; 
		visibility: visible; 
	}
	
	.navbarFixed .navbar {
		padding: 1rem; 
	}
	
	.navbar-collapse {
		height: auto !important; 
		background: #fff; 
	}
	
	.navbar {
		font-size: 1rem;  
		letter-spacing: 0.03em; 
		padding: 1rem; 
		
		&-nav {
			background: #fff;
			padding-top: 0; 
			text-align: center; 
			
			i {
				display: block; 
				margin: 0 auto 0.3rem; 
				flex: 1;
			}
		}
		
		&-collapse.collapsing {
			position: static; 
			overflow: visible;
		}
	}
	
	.navbar-expand-lg .nav-link {
		color: $blue-l; 
	}
	
	.navbar .ico-profile {
	    display: inline-block;
	}
	
	.navbar .ico-profile-white {
	    display: none;
	}
	
	.navbar .nav-item.active .nav-link:before {
		bottom: 0.4rem; 
	}
	
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding: 0.8rem 0;
	}
	
	.navbar-collapse {
		background: #fff; 
	}
	
	.navbar-expand-lg .navbar-nav .nav-link {
		display: inline-block; 
	}
	
	.navbarFixed .navbar-expand-lg .show .navbar-nav {
		padding-top: 0; 
	}
	
	.navbarFixed .navbar-expand-lg .navbar-nav .nav-link {
		display: inline-block; 
		padding: 0.8rem 0; 
	}
	
	.navbarFixed .navbar-expand-lg .navbar-nav li {
		&:last-child {
			margin-bottom: 0; 
		}
	}
	
	.navbarFixed .navbar-expand-lg .navbar-nav {
		padding-top: 0; 
	}
	
	.navbarFixed .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
		padding: 0.8rem 0; 
	}
	
	.navbar-toggler span:after {
		top: 0.39rem; 
	}
}

@include media("<mobile") {
	.navbarFixed .navbar {
		padding: 0.85rem 1.8rem 0.6rem; 
	}
	
	.navbar {
		padding: 0.85rem 1.8rem 0.6rem; 
		flex-wrap: wrap; 
		font-size: 1rem; 
	
		&-nav {
			justify-content: space-evenly; 
			
			li {
				flex: none;
				padding: 0 0.47rem; 
			}
		}	
	}
	
	// .navbarFixed .navbar-expand-lg .show .navbar-nav {
	// 	padding-top: 0.7rem; 
	// }
	
	.navbar-expand-lg .nav-link {
		color: $blue; 
	}
	
	.navbar-brand img {
		max-width: 9rem; 
		height: auto !important; 
	}
	
	.navbarFixed .navbar-expand-lg .navbar-nav {
		text-align: center; 
	}
	
	.navbarFixed .navbar-expand-lg .navbar-nav .nav-link {
		padding: 0.8rem 0; 
	}
	
	.navbarFixed .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
		padding: 0.8rem 0; 
	}
	
	.nav-tabs .nav-item {
		min-width: 0; 
	}
	
	.navbarFixed .navbar {
		transition: none; 
	}
	
	.navbarFixed .navbar-nav {
		padding-bottom: 0; 
	}
	
	.navbar-nav {
		padding-bottom: 0.6rem; 
	}
	
	.navbar-nav i {
		margin-bottom: 0.1rem; 
	}
	
	.navbar-toggler span {
		width: 2rem; 
		border-top: 0.29rem solid $blue-l; 
	}
	
	.navbar-toggler span:before, .navbar-toggler span:after {
		height: 0.29rem; 
	}
	
	.navbar-toggler span:before {
		width: 1rem; 
		top: -0.9rem; 
	}
	
	.navbar-toggler span:after {
		width: 1.7rem; 
	}
	
	.navbar-toggler[aria-expanded="true"] span:before {
		width: 1.7rem; 
		transform: rotate(45deg) translate(0.7rem, 0.6rem);
	}
	
	.navbar-toggler[aria-expanded="true"] span:after {
		transform: rotate(-45deg) translate(0.25rem, -0.2rem);
	}
	
	// .navbarFixed .navbar-expand-lg .navbar-nav,
	// .navbarFixed .navbar-expand-lg .show .navbar-nav {
	// 	padding-top: 0.7rem; 
	// }
	
	.navbar-toggler span:after {
	    top: 0.35rem;
	}
}

@include media("<mobile-portrait") {
	// .navbarFixed .navbar {
	// 	padding: 0.77rem 1rem; 
	// }
	
	.navbar-brand img {
		max-width: 13rem; 
	}
	
	// .navbar-nav {
	// 	justify-content: center; 
	// }
	
	// .navbar-nav i {
	// 	margin-bottom: 0.3rem; 
	// }
	
	// .nav-tabs .nav-item + .nav-item {
	// 	border-left: 0; 
	// 	border-top: 1px solid #c6cbcf; 
	// }
}