/* ------------------------------------------------------------ *\
	Service
\* ------------------------------------------------------------ */

.services { 
	padding-left: 0;
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-between; 
	list-style: none; 
	margin-bottom: 0; 
	
	.service {
		width: calc(33.33% - 0.12rem); 
	}
}

.service {
	background-size: cover; 
	background-position: center; 
	color: #fff; 
	text-align: center; 
	overflow: hidden; 
	
	& a {
		display: flex; 
		flex-wrap: wrap; 
		justify-content: center;
		align-content: center;  
		color: #fff; 
		text-decoration: none;
		height: 20.94vw;  
		padding: 1.3rem; 
		position: relative; 
	}
	
	& h5 {
		width: 100%; 
		margin-top: 0.75rem; 
		transition: .6s; 
	}
		
	h5:first-child {
		display: none; 
	}
	
	& p {
		position: absolute; 
		top: 100%; 
		margin-top: 2.8rem; 
		transition: .6s; 
	}
	
	i {
		position: relative; 
		top: 0; 
		transition: .6s; 
	}
	
	&:hover i {
		top: -100%; 
	}
	
	&:hover p {
		position: relative; 
		top: 0; 
	}
	
	&:hover h5 {
		
		&:last-child {
			top: 0; 
		}
	}
	
	& &__overlay {
		opacity: 0;
		visibility: hidden; 
		position: absolute; 
		background: $blue; 
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0; 
		transition: .3s; 
		display: flex;
		flex-wrap: wrap; 
		align-content: center; 
		padding: 1rem; 
		
		h5 {
			display: block; 
		}
	}
	
	& a:hover .service__overlay {
		opacity: 1; 
		visibility: visible; 
		
		p {
			display: block; 
		}
	}
}

@include media("<small-desktop") {
	.service p {
		margin-top: 0rem; 
	}
	
	.service a {
		min-height: 22vw; 
	}
}

@include media("<tablet") {
	.service a {
		min-height: 27vw; 
	}
}

@include media("<mobile") {
	.service a {
	    min-height: 80vw;
	    padding: 1.67rem; 
	}
	
	.service h5 {
		font-size: 1.6rem; 
		margin-top: 1.2rem; 
	}
	
	.service i {
		transform: scale(1.2); 
	}
	
	.services {
		display: block; 
		
		.service {
			width: calc(100% - 1rem); 
			margin: 0.5rem; 
		}
	}
}