/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tabs {
	padding: 0 1.7rem 2rem; 
	
	.collapse {
		display: block; 
	}
	
	.nav-item:last-child {
		margin-left: 0; 
	}
}

.tab-pane {
	padding: 1.9rem 0 1.9rem 0.19rem; 
	font-size: 0.9rem;  
	line-height: 1.41; 
	letter-spacing: 0.05em; 
	
	> a {
		display: none; 
   		text-align: center; 
   		text-transform: uppercase; 
   		text-decoration: none; 
   		font-size: 0.9rem; 
   		font-weight: 700; 
	    padding: 0.6rem 0.9rem;
	    color: $base; 
	    background: $grey; 
	  	
	  	&[aria-expanded="true"] {
			background: #2857a4;
	   		color: #fff;
	  	}
	}
}

@include media("<mobile") {
	.tabs .nav-tabs {
	  display:none;
	}
	
	.tabs {
		padding: 0 1.67rem 2rem; 
	}
	
	.nav-tabs {
	  display: flex;
	}
	
	.tab-pane.fade:not(.show) {
		opacity: 1; 
	}
	
	.tabs .row {
		padding: 0;
		
		
		&:first-child p:first-child {
			padding-top: 1rem; 
		}
		
		margin: 0 -0.8rem; 
	}
	
	.tabs .collapse {
		display: none; 
				
		&.show {
			display: block; 
		}
	}
	
	.tab-pane {
	  display: block !important;
	  opacity: 1;
	  padding: 0; 
	  
	  & + & {
	  	border-top: 1px solid #ddd; 
	  }
	  
	  > a {
	  	display: block; 
	  }
	}
}