/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper:not(.wrapper--interior) .navbar-toggler span {
	border-top: 0.33rem solid #fff;
}

.wrapper:not(.wrapper--interior).navbarFixed .navbar-toggler span {
	border-top: 0.33rem solid $blue-l;
}

.wrapper:not(.wrapper--interior).navbarFixed .navbar-toggler span:before,
.wrapper:not(.wrapper--interior).navbarFixed .navbar-toggler span:after {
	background: $blue-l; 
}
    
.wrapper:not(.wrapper--interior) .navbar-toggler span:before,
.wrapper:not(.wrapper--interior) .navbar-toggler span:after {
	background: #fff;
}

.wrapper:not(.wrapper--interior) .navbar-toggler[aria-expanded="true"] span {
	border-color: transparent; 
}

.wrapper:not(.wrapper--interior) .navbar-toggler[aria-expanded="true"] span:before,
.wrapper:not(.wrapper--interior) .navbar-toggler[aria-expanded="true"] span:after {
	background: $blue-l;
}

.wrapper--interior {
	padding-top: 5.16rem; 
}
	
.wrapper--interior .intro {
	height: 27.2rem; 
	padding-bottom: 3rem; 
}

.wrapper--interior .navbar { 
	padding: 0 5.7rem 0 3.1rem; 
	border-bottom: 3px solid #204b9a; 
	background: #fff; 
	
	.navbar-brand {
		display: inline-block;  
	}
}

.wrapper--interior .navbar-expand-lg .navbar-nav .nav-link {
	padding: 1.92rem 0; 
}

.wrapper--interior .ico-profile-white {
	display: none; 
}

.wrapper--interior .navbar .ico-profile {
	display: inline-block; 
}

.wrapper--interior .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
	padding: 1.6rem 0; 
}

.wrapper--interior .navbar-expand-lg .nav-link {
	color: $blue; 
}

.wrapper--interior.navbarFixed .navbar-expand-lg .nav-link {
	color: $blue; 
}

@include media("<small-desktop") {
	.wrapper--interior .navbar { 
		padding: 0 2rem; 
	}
}

@include media("<tablet") {
	.wrapper--interior .navbar .navbar-brand {
		opacity: 1; 
		visibility: visible; 
	}
	
	.wrapper--interior .navbar {
		padding: 1rem; 
	}
	
	.wrapper--interior .navbar-collapse {
		background: transparent; 
	}
	
	.wrapper--interior .navbar-expand-lg .navbar-nav .nav-link {
		padding: 0.8rem 0; 
	}
	
	.wrapper--interior .navbar-expand-lg .navbar-nav li {
		&:last-child {
			margin-bottom: 0; 
		}
	}	
	
	.wrapper:not(.wrapper--interior).navbarFixed .navbar-collapse {
		border-bottom: 0; 
		padding-bottom: 0; 
	}
	
	.wrapper:not(.wrapper--interior) .navbar-collapse {
		padding-bottom: 1rem; 
		border-bottom: 3px solid #204b9a;
		margin: -4.3rem -1rem 0; 
		padding-top: 4.3rem; 
	}
	
	.wrapper--interior .navbar-expand-lg .navbar-nav {
		padding-top: 0; 
	}
	
	.wrapper--interior .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
		padding: 0.8rem 0; 
	}
}

@include media("<mobile") {
	.wrapper--interior .navbar-expand-lg .navbar-nav {
		text-align: center; 
	}
	
	.wrapper--interior {
		padding-top: 3.95rem; 
	}
	
	.wrapper--interior .navbar {
		padding: 0.85rem 1.8rem 0.6rem; 
	}
	
	// .wrapper--interior .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
	// 	padding: 0.6rem 0; 
	// }
	
	// .wrapper--interior {
	//     padding-top: 2.99rem;
	// }
	
	// .wrapper--interior .navbar { 
	// 	padding: 0.5rem; 
	// }
	
	// .wrapper--interior .navbar-expand-lg .navbar-nav {
	// 	padding: 0.7rem 0; 
	// }
	
	// .wrapper:not(.wrapper--interior) .navbar-toggler span:after {
	//     top: 0.23rem;
	// }
	
	// .wrapper:not(.wrapper--interior).navbarFixed .navbar-toggler span {
	// 	border-top: 0.29rem solid $blue-l; 
	// }
	
	.wrapper:not(.wrapper--interior).navbarFixed .navbar-collapse { 
		margin: -4.5rem -1.8rem 0;
		padding-top: 4.5rem; 
		padding-bottom: 0; 
	}
	
	.wrapper:not(.wrapper--interior) .navbar-collapse { 
		margin: -4.5rem -1.8rem 0;
		padding-top: 4.5rem; 
		padding-bottom: 0; 
	}
	
	.wrapper--interior .navbar-expand-lg .navbar-nav {
		padding-top: 0; 
		padding-bottom: 0; 
	}
	
	.wrapper:not(.wrapper--interior) .navbar-collapse.show {
		padding-bottom: 0; 
	}
	
	.wrapper:not(.wrapper--interior) .navbar-toggler span {
	    border-top: 0.29rem solid #fff;
	}
	
	// .wrapper--interior .navbar-expand-lg .show .navbar-nav {
	// 	padding: 0.7rem 0; 
	// }
	
	// .wrapper:not(.wrapper--interior) .navbar-collapse {
	// 	margin: -3.4rem -1rem 0; 
	// 	padding-top: 3.4rem; 
	// 	padding-bottom: 1.5rem; 
	// }
	
	// .wrapper:not(.wrapper--interior) .navbar {
	// 	padding-bottom: 0;
	// 	border-bottom: 0; 
	// }
	
	// .wrapper:not(.wrapper--interior) .navbarFixed .navbar {
	// 	padding-bottom: 0; 
	// }
}

// @include media("<mobile-portrait") {
// 	.wrapper--interior .navbar { 
// 		padding: 0.77rem 1rem; 
// 	}
	
// 	.wrapper--interior {
// 	    padding-top: 4.47rem;
// 	}
// }