<footer class="footer">
	<div class="container">
		<div class="footer__cols">
			<div class="footer__col footer__col--size1">
				<div class="contacts">
					<a class="navbar-brand" href="#">
						Suisse - Atlantique
						
						<img src="assets/images/temp/logo-3@2x.png" alt="" style="width: 11.3rem; height: 6.35rem;">
					</a>
				
					<p>
						Société de Navigation Maritime S.A <br>
						Avenue des Baumettes 7 <br>
						PO box 48 - 1020 Renens <br>
						Switzerland
					</p>
					
					<a href="tel:+41216372201">Phone: +41 21 637 22 01</a>
					
					<a href="mailto:enquiries@suisat.com">enquiries@suisat.com</a>
				</div><!-- /.contacts -->
			</div><!-- /.footer__col footer__col-/-size1 -->
			
			<div class="footer__col footer__col--size2 hidden-xs">
				<h5>Services</h5>
				
				<nav class="footer__nav">
					<ul>
						<li>
							<a href="#">Commercial</a>
						</li>
						
						<li>
							<a href="#">Operating</a>
						</li>
						
						<li>
							<a href="#">Crewing</a>
						</li>
						
						<li>
							<a href="#">Technical</a>
						</li>
						
						<li>
							<a href="#">NB + Repairs</a>
						</li>
						
						<li>
							<a href="#">It</a>
						</li>
						
						<li>
							<a href="#">Insurance</a>
						</li>
						
						<li>
							<a href="#">SQMS</a>
						</li>
					</ul>
				</nav><!-- /.footer__nav -->
			</div><!-- /.footer__col footer__col-/-size2 -->
			
			<div class="footer__col footer__col--size2 hidden-xs">
				<h5>Fleet</h5>
				
				<nav class="footer__nav">
					<ul>
						<li>
							<a href="#">All fleet</a>
						</li>
						
						<li>
							<a href="#">Handysize</a>
						</li>
						
						<li>
							<a href="#">Ultra-Supramax</a>
						</li>
						
						<li>
							<a href="#">Panamax</a>
						</li>
						
						<li>
							<a href="#">Post Panamax</a>
						</li>
					</ul>
				</nav><!-- /.footer__nav -->
			</div><!-- /.footer__col footer__col-/-size2 -->
			
			<div class="footer__col footer__col--size2 hidden-xs">
				<h5>About Us</h5>
				
				<nav class="footer__nav">
					<ul>
						<li>
							<a href="#">Team</a>
						</li>
						
						<li>
							<a href="#">Locations</a>
						</li>
						
						<li>
							<a href="#">History</a>
						</li>
						
						<li>
							<a href="#">References</a>
						</li>
					</ul>
				</nav><!-- /.footer__nav -->
				
				<h5>
					<a href="#">Contact us</a>
				</h5>
				
				<h5>
					<a href="#">Joins us</a>
				</h5>
			</div><!-- /.footer__col footer__col-/-size2 -->
		</div><!-- /.footer__cols -->
		
		<p class="footer__copyright hidden-xs">&copy;2018 Suisse atlantique - Design by <a href="#">Procab studio</a> </p><!-- /.footer__copyright -->
	</div><!-- /.container -->
</footer><!-- /.footer -->