<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>SUISAT</title>

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
	<link rel="stylesheet" href="assets/vendor/magnific-popup.css" type="text/css" media="all" />
	<link rel="stylesheet" href="assets/vendor/slick.css" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbKlJdDqSnwHJq0i7vefRd_TCDO9Kw_DA"></script>	
	
	<script src="assets/vendor/jquery-3.3.1.min.js"></script>
	<script src="assets/vendor/jquery.magnific-popup.min.js"></script>
	<script src="assets/vendor/slick.min.js"></script>
	<script src="assets/vendor/bootstrap-4.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
